.tile-h1-text {
    font-size: var(--font-size-84);

  }

  .tile-h2-text {
    font-size: var(--font-size-64);
  }

  .big-emoji-text {
    font-size: var(--font-size-124);
  }

  .k-card{
    width: 100%;
    height: 100%;
  }
  
  .k-card-title{
    font-size: var(--font-size-24);
  }